@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 245 242;
    --foreground: 249 245 242;
    --foreground: 249 245 242;
    --primary: 40 40 38;
    --secondary: 140 140 140;
    --accent: 249 245 242;
    --yellow: 247 203 70;
  }
}
